<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/Battleship.css">
   <title>Battleship Join</title> 
</head>    
  
<body class="home">
    <img src="/images/Battleship_logo_crop.png" width="200" height="100" id=joinlogo>
    <p class="center">SEND THIS LINK TO A FRIEND TO JOIN THE GAME:</p>
    
    <table id="sharelink">
        <tr>
            <td><input name="url_link" id="url_link" placeholder="**URL GOES HERE**" value=""></td>
            <td><a><img src="/images/copy_icon.png"id="copybutton" width="30" height="25"></a></td>
        </tr>
    </table>
        
    <a href="/gameboard"><img src="/images/start_button (2).jpg" alt="start" class ="center" style="width: 200px; height: 100px;"></a> 
    
    <script src="js/copy.js"></script>
    
    
</body>
</html>