<!DOCTYPE html>
<html lang="en">
<head>

  <!--<link rel="stylesheet" type="text/css" href="css/index.css">-->


  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>BattleShip</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

 <link rel="stylesheet" type="text/css" href="css/battleship.css" />
   <meta charset="utf-8" />


   <title>Battleship Board</title>
</head>

<body>

  <!--<h1>http://localhost:8080/<%= game_id %></h1></br></br>-->


    <form name="userboard">
        <table id="userboard">
           <!-- change to value="*" to display asteriks -->
            <tr><th colspan="12">YOUR BOARD</th></tr>
            <tr>
                <td> </td>
                <td> A </td>
                <td> B </td>
                <td> C </td>
                <td> D </td>
                <td> E </td>
                <td> F </td>
                <td> G </td>
                <td> H </td>
                <td> I </td>
                <td> J </td>
            </tr>
            <tr>
                <td>1</td>
                <td><input type="button" class="button locator"  name="1A" data-id="00" value="1 A"></td>
                <td><input type="button" class="button locator"  name="1B" data-id="01" value="1 B"></td>
                <td><input type="button" class="button locator"  name="1C" data-id="02" value="1 C"></td>
                <td><input type="button" class="button locator"  name="1D" data-id="03" value="1 D"></td>
                <td><input type="button" class="button locator"  name="1E" data-id="04" value="1 E"></td>
                <td><input type="button" class="button locator"  name="1F" data-id="05" value="1 F"></td>
                <td><input type="button" class="button locator"  name="1F" data-id="06" value="1 G"></td>
                <td><input type="button" class="button locator"  name="1G" data-id="07" value="1 H"></td>
                <td><input type="button" class="button locator"  name="1H" data-id="08" value="1 I"></td>
                <td><input type="button" class="button locator"  name="1I" data-id="09" value="1 J"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><input type="button" class="button locator"  name="2A" data-id="10" value="2 A"></td>
                <td><input type="button" class="button locator"  name="2B" data-id="11" value="2 B"></td>
                <td><input type="button" class="button locator"  name="2C" data-id="12" value="2 C"></td>
                <td><input type="button" class="button locator"  name="2D" data-id="13" value="2 D"></td>
                <td><input type="button" class="button locator"  name="2E" data-id="14" value="2 E"></td>
                <td><input type="button" class="button locator"  name="2F" data-id="15" value="2 F"></td>
                <td><input type="button" class="button locator"  name="2F" data-id="16" value="2 G"></td>
                <td><input type="button" class="button locator"  name="2G" data-id="17" value="2 H"></td>
                <td><input type="button" class="button locator"  name="2H" data-id="18" value="2 I"></td>
                <td><input type="button" class="button locator"  name="2H" data-id="19" value="2 J"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><input type="button" class="button locator"  name="3A" data-id="20" value="3 A"></td>
                <td><input type="button" class="button locator"  name="3B" data-id="21" value="3 B"></td>
                <td><input type="button" class="button locator"  name="3C" data-id="22" value="3 C"></td>
                <td><input type="button" class="button locator"  name="3D" data-id="23" value="3 D"></td>
                <td><input type="button" class="button locator"  name="3E" data-id="24" value="3 E"></td>
                <td><input type="button" class="button locator"  name="3F" data-id="25" value="3 F"></td>
                <td><input type="button" class="button locator"  name="3F" data-id="26" value="3 G"></td>
                <td><input type="button" class="button locator"  name="3G" data-id="27" value="3 H"></td>
                <td><input type="button" class="button locator"  name="3H" data-id="28" value="3 I"></td>
                <td><input type="button" class="button locator"  name="3I" data-id="29" value="3 J"></td>
            </tr>
            <tr>
                <td>4</td>
                <td><input type="button" class="button locator" name="4A" data-id="30" value="4 A"></td>
                <td><input type="button" class="button locator" name="4B" data-id="31" value="4 B"></td>
                <td><input type="button" class="button locator" name="4C" data-id="32" value="4 C"></td>
                <td><input type="button" class="button locator" name="4D" data-id="33" value="4 D"></td>
                <td><input type="button" class="button locator" name="4E" data-id="34" value="4 E"></td>
                <td><input type="button" class="button locator" name="4F" data-id="35" value="4 F"></td>
                <td><input type="button" class="button locator" name="4F" data-id="36" value="4 G"></td>
                <td><input type="button" class="button locator" name="4G" data-id="37" value="4 H"></td>
                <td><input type="button" class="button locator" name="4H" data-id="38"value="4 I"></td>
                <td><input type="button" class="button locator" name="4I" data-id="39" value="4 J"></td>
            </tr>
            <tr>
                <td>5</td>
                <td><input type="button" class="button locator" name="5A" data-id="40" value="5 A"></td>
                <td><input type="button" class="button locator" name="5B" data-id="41" value="5 B"></td>
                <td><input type="button" class="button locator" name="5C" data-id="42" value="5 C"></td>
                <td><input type="button" class="button locator" name="5D" data-id="43" value="5 D"></td>
                <td><input type="button" class="button locator" name="5E" data-id="44" value="5 E"></td>
                <td><input type="button" class="button locator" name="5F" data-id="45" value="5 F"></td>
                <td><input type="button" class="button locator" name="5F" data-id="46" value="5 G"></td>
                <td><input type="button" class="button locator" name="5G" data-id="47" value="5 H"></td>
                <td><input type="button" class="button locator" name="5H" data-id="48" value="5 I"></td>
                <td><input type="button" class="button locator" name="5I" data-id="49" value="5 J"></td>
            </tr>
            <tr>
                <td>6</td>
                <td><input type="button" class="button locator" name="6A" data-id="50" value="6 A"></td>
                <td><input type="button" class="button locator" name="6B" data-id="51" value="6 B"></td>
                <td><input type="button" class="button locator" name="6C" data-id="52" value="6 C"></td>
                <td><input type="button" class="button locator" name="6D" data-id="53" value="6 D"></td>
                <td><input type="button" class="button locator" name="6E" data-id="54" value="6 E"></td>
                <td><input type="button" class="button locator" name="6F" data-id="55" value="6 F"></td>
                <td><input type="button" class="button locator" name="6F" data-id="56" value="6 G"></td>
                <td><input type="button" class="button locator" name="6G" data-id="57" value="6 H"></td>
                <td><input type="button" class="button locator" name="6H" data-id="58" value="6 I"></td>
                <td><input type="button" class="button locator" name="6I" data-id="59" value="6 J"></td>
            </tr>
            <tr>
                <td>7</td>
                <td><input type="button" class="button locator" name="7A" data-id="60" value="7 A"></td>
                <td><input type="button" class="button locator" name="7B" data-id="61" value="7 B"></td>
                <td><input type="button" class="button locator" name="7C" data-id="62" value="7 C"></td>
                <td><input type="button" class="button locator" name="7D" data-id="63" value="7 D"></td>
                <td><input type="button" class="button locator" name="7E" data-id="64" value="7 E"></td>
                <td><input type="button" class="button locator" name="7F" data-id="65" value="7 F"></td>
                <td><input type="button" class="button locator" name="7F" data-id="66" value="7 G"></td>
                <td><input type="button" class="button locator" name="7G" data-id="67" value="7 H"></td>
                <td><input type="button" class="button locator" name="7H" data-id="68" value="7 I"></td>
                <td><input type="button" class="button locator" name="7I" data-id="69" value="7 J"></td>
            </tr>
            <tr>
                <td>8</td>
                <td><input type="button" class="button locator" name="8A" data-id="70" value="8 A"></td>
                <td><input type="button" class="button locator" name="8B" data-id="71" value="8 B"></td>
                <td><input type="button" class="button locator" name="8C" data-id="72" value="8 C"></td>
                <td><input type="button" class="button locator" name="8D" data-id="73" value="8 D"></td>
                <td><input type="button" class="button locator" name="8E" data-id="74" value="8 E"></td>
                <td><input type="button" class="button locator" name="8F" data-id="75" value="8 F"></td>
                <td><input type="button" class="button locator" name="8F" data-id="76" value="8 G"></td>
                <td><input type="button" class="button locator" name="8G" data-id="77" value="8 H"></td>
                <td><input type="button" class="button locator" name="8H" data-id="78" value="8 I"></td>
                <td><input type="button" class="button locator" name="8I" data-id="79" value="8 J"></td>
            </tr>
            <tr>
                <td>9</td>
                <td><input type="button" class="button locator" name="9A" data-id="80" value="9 A"></td>
                <td><input type="button" class="button locator" name="9B" data-id="81" value="9 B"></td>
                <td><input type="button" class="button locator" name="9C" data-id="82" value="9 C"></td>
                <td><input type="button" class="button locator" name="9D" data-id="83" value="9 D"></td>
                <td><input type="button" class="button locator" name="9E" data-id="84" value="9 E"></td>
                <td><input type="button" class="button locator" name="9F" data-id="85" value="9 F"></td>
                <td><input type="button" class="button locator" name="9F" data-id="86" value="9 G"></td>
                <td><input type="button" class="button locator" name="9G" data-id="87" value="9 H"></td>
                <td><input type="button" class="button locator" name="9H" data-id="88" value="9 I"></td>
                <td><input type="button" class="button locator" name="9I" data-id="89" value="9 J"></td>
            </tr>
            <tr>
                <td>10</td>
                <td><input type="button" class="button locator" name="10A" data-id="90" value="10 A"></td>
                <td><input type="button" class="button locator" name="10B" data-id="91" value="10 B"></td>
                <td><input type="button" class="button locator" name="10C" data-id="92" value="10 C"></td>
                <td><input type="button" class="button locator" name="10D" data-id="93" value="10 D"></td>
                <td><input type="button" class="button locator" name="10E" data-id="94" value="10 E"></td>
                <td><input type="button" class="button locator" name="10F" data-id="95" value="10 F"></td>
                <td><input type="button" class="button locator" name="10G" data-id="96" value="10 G"></td>
                <td><input type="button" class="button locator" name="10H" data-id="97" value="10 H"></td>
                <td><input type="button" class="button locator" name="10I" data-id="98" value="10 I"></td>
                <td><input type="button" class="button locator" name="10J" data-id="99" value="10 J"></td>
            </tr>
        </table>
    </form>

    <form name="computerboard">
        <table id="computerboard">
            <tr><th colspan="12">OPPONENT'S BOARD</th></tr>
           <!-- change to value="*" to display asteriks -->
            <tr>
                <td> </td>
                <td> A </td>
                <td> B </td>
                <td> C </td>
                <td> D </td>
                <td> E </td>
                <td> F </td>
                <td> G </td>
                <td> H </td>
                <td> I </td>
                <td> J </td>
            </tr>
            <tr>
                <td>1</td>
                <td><input type="button" class="button locator" name="1A" data-id="100" value="1 A"></td>
                <td><input type="button" class="button locator" name="1B" data-id="101" value="1 B"></td>
                <td><input type="button" class="button locator" name="1C" data-id="102" value="1 C"></td>
                <td><input type="button" class="button locator" name="1D" data-id="103" value="1 D"></td>
                <td><input type="button" class="button locator" name="1E" data-id="104" value="1 E"></td>
                <td><input type="button" class="button locator" name="1F" data-id="105" value="1 F"></td>
                <td><input type="button" class="button locator" name="1F" data-id="106" value="1 G"></td>
                <td><input type="button" class="button locator" name="1G" data-id="107" value="1 H"></td>
                <td><input type="button" class="button locator" name="1H" data-id="108" value="1 I"></td>
                <td><input type="button" class="button locator" name="1I" data-id="109" value="1 J"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><input type="button" class="button locator" name="2A" data-id="110" value="2 A"></td>
                <td><input type="button" class="button locator" name="2B" data-id="111" value="2 B"></td>
                <td><input type="button" class="button locator" name="2C" data-id="112" value="2 C"></td>
                <td><input type="button" class="button locator" name="2D" data-id="113" value="2 D"></td>
                <td><input type="button" class="button locator" name="2E" data-id="114" value="2 E"></td>
                <td><input type="button" class="button locator" name="2F" data-id="115" value="2 F"></td>
                <td><input type="button" class="button locator" name="2F" data-id="116" value="2 G"></td>
                <td><input type="button" class="button locator" name="2G" data-id="117" value="2 H"></td>
                <td><input type="button" class="button locator" name="2H" data-id="118" value="2 I"></td>
                <td><input type="button" class="button locator" name="2H" data-id="119" value="2 J"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><input type="button" class="button locator" name="3A" data-id="120" value="3 A"></td>
                <td><input type="button" class="button locator" name="3B" data-id="121" value="3 B"></td>
                <td><input type="button" class="button locator" name="3C" data-id="122" value="3 C"></td>
                <td><input type="button" class="button locator" name="3D" data-id="123" value="3 D"></td>
                <td><input type="button" class="button locator" name="3E" data-id="124" value="3 E"></td>
                <td><input type="button" class="button locator" name="3F" data-id="125" value="3 F"></td>
                <td><input type="button" class="button locator" name="3F" data-id="126" value="3 G"></td>
                <td><input type="button" class="button locator" name="3G" data-id="127" value="3 H"></td>
                <td><input type="button" class="button locator" name="3H" data-id="128" value="3 I"></td>
                <td><input type="button" class="button locator" name="3I" data-id="129" value="3 J"></td>
            </tr>
            <tr>
                <td>4</td>
                <td><input type="button" class="button locator" name="4A" data-id="130" value="4 A"></td>
                <td><input type="button" class="button locator" name="4B" data-id="131" value="4 B"></td>
                <td><input type="button" class="button locator" name="4C" data-id="132" value="4 C"></td>
                <td><input type="button" class="button locator" name="4D" data-id="133" value="4 D"></td>
                <td><input type="button" class="button locator" name="4E" data-id="134" value="4 E"></td>
                <td><input type="button" class="button locator" name="4F" data-id="135" value="4 F"></td>
                <td><input type="button" class="button locator" name="4F" data-id="136" value="4 G"></td>
                <td><input type="button" class="button locator" name="4G" data-id="137" value="4 H"></td>
                <td><input type="button" class="button locator" name="4H" data-id="138" value="4 I"></td>
                <td><input type="button" class="button locator" name="4I" data-id="139" value="4 J"></td>
            </tr>
            <tr>
                <td>5</td>
                <td><input type="button" class="button locator" name="5A" data-id="140" value="5 A"></td>
                <td><input type="button" class="button locator" name="5B" data-id="141" value="5 B"></td>
                <td><input type="button" class="button locator" name="5C" data-id="142" value="5 C"></td>
                <td><input type="button" class="button locator" name="5D" data-id="143" value="5 D"></td>
                <td><input type="button" class="button locator" name="5E" data-id="144" value="5 E"></td>
                <td><input type="button" class="button locator" name="5F" data-id="145" value="5 F"></td>
                <td><input type="button" class="button locator" name="5F" data-id="146" value="5 G"></td>
                <td><input type="button" class="button locator" name="5G" data-id="147" value="5 H"></td>
                <td><input type="button" class="button locator" name="5H" data-id="148" value="5 I"></td>
                <td><input type="button" class="button locator" name="5I" data-id="149" value="5 J"></td>
            </tr>
            <tr>
                <td>6</td>
                <td><input type="button" class="button locator" name="6A" data-id="150" value="6 A"></td>
                <td><input type="button" class="button locator" name="6B" data-id="151" value="6 B"></td>
                <td><input type="button" class="button locator" name="6C" data-id="152" value="6 C"></td>
                <td><input type="button" class="button locator" name="6D" data-id="153" value="6 D"></td>
                <td><input type="button" class="button locator" name="6E" data-id="154" value="6 E"></td>
                <td><input type="button" class="button locator" name="6F" data-id="155" value="6 F"></td>
                <td><input type="button" class="button locator" name="6F" data-id="156" value="6 G"></td>
                <td><input type="button" class="button locator" name="6G" data-id="157" value="6 H"></td>
                <td><input type="button" class="button locator" name="6H" data-id="158" value="6 I"></td>
                <td><input type="button" class="button locator" name="6I" data-id="159" value="6 J"></td>
            </tr>
            <tr>
                <td>7</td>
                <td><input type="button" class="button locator" name="7A" data-id="160" value="7 A"></td>
                <td><input type="button" class="button locator" name="7B" data-id="161" value="7 B"></td>
                <td><input type="button" class="button locator" name="7C" data-id="162" value="7 C"></td>
                <td><input type="button" class="button locator" name="7D" data-id="163" value="7 D"></td>
                <td><input type="button" class="button locator" name="7E" data-id="164" value="7 E"></td>
                <td><input type="button" class="button locator" name="7F" data-id="165" value="7 F"></td>
                <td><input type="button" class="button locator" name="7F" data-id="166" value="7 G"></td>
                <td><input type="button" class="button locator" name="7G" data-id="167" value="7 H"></td>
                <td><input type="button" class="button locator" name="7H" data-id="168" value="7 I"></td>
                <td><input type="button" class="button locator" name="7I" data-id="169" value="7 J"></td>
            </tr>
            <tr>
                <td>8</td>
                <td><input type="button" class="button locator" name="8A" data-id="170" value="8 A"></td>
                <td><input type="button" class="button locator" name="8B" data-id="171" value="8 B"></td>
                <td><input type="button" class="button locator" name="8C" data-id="172" value="8 C"></td>
                <td><input type="button" class="button locator" name="8D" data-id="173" value="8 D"></td>
                <td><input type="button" class="button locator" name="8E" data-id="174" value="8 E"></td>
                <td><input type="button" class="button locator" name="8F" data-id="175" value="8 F"></td>
                <td><input type="button" class="button locator" name="8F" data-id="176" value="8 G"></td>
                <td><input type="button" class="button locator" name="8G" data-id="177" value="8 H"></td>
                <td><input type="button" class="button locator" name="8H" data-id="178" value="8 I"></td>
                <td><input type="button" class="button locator" name="8I" data-id="179" value="8 J"></td>
            </tr>
            <tr>
                <td>9</td>
                <td><input type="button" class="button locator" name="9A" data-id="180" value="9 A"></td>
                <td><input type="button" class="button locator" name="9B" data-id="181" value="9 B"></td>
                <td><input type="button" class="button locator" name="9C" data-id="182" value="9 C"></td>
                <td><input type="button" class="button locator" name="9D" data-id="183" value="9 D"></td>
                <td><input type="button" class="button locator" name="9E" data-id="184" value="9 E"></td>
                <td><input type="button" class="button locator" name="9F" data-id="185" value="9 F"></td>
                <td><input type="button" class="button locator" name="9F" data-id="186" value="9 G"></td>
                <td><input type="button" class="button locator" name="9G" data-id="187" value="9 H"></td>
                <td><input type="button" class="button locator" name="9H" data-id="188" value="9 I"></td>
                <td><input type="button" class="button locator" name="9I" data-id="189" value="9 J"></td>
            </tr>
            <tr>
                <td>10</td>
                <td><input type="button" class="button locator" name="10A" data-id="190" value="10 A"></td>
                <td><input type="button" class="button locator" name="10B" data-id="191" value="10 B"></td>
                <td><input type="button" class="button locator" name="10C" data-id="192" value="10 C"></td>
                <td><input type="button" class="button locator" name="10D" data-id="193" value="10 D"></td>
                <td><input type="button" class="button locator" name="10E" data-id="194" value="10 E"></td>
                <td><input type="button" class="button locator" name="10F" data-id="195" value="10 F"></td>
                <td><input type="button" class="button locator" name="10G" data-id="196" value="10 G"></td>
                <td><input type="button" class="button locator" name="10H" data-id="197" value="10 H"></td>
                <td><input type="button" class="button locator" name="10I" data-id="198" value="10 I"></td>
                <td><input type="button" class="button locator" name="10J" data-id="199" value="10 J"></td>
            </tr>
        </table>

    </form>

</body>
<script src="js/client.js"></script>


<!--
<script>
    function firebaseResponse(value){

        // response is hit return true else return false
        return false;
    }

    let locators = document.querySelectorAll('.locator');
    if(locators !== null){
        for(const locator of locators){
            locator.addEventListener('click', function(e){
                e.preventDefault();
                //let coords = e.target.value.replace(/\s/, '');
                let coords = e.target.dataset.id;
                console.log(coords)
                //send to firebase and handle response
                let hit = firebaseResponse(coords);
                if(hit){
                    locator.classList.add('hit');
                    locator.value = 'X'
                } else {
                    locator.classList.add('miss');
                    locator.value = 'miss'
                }
            })
        }
    }
</script>
-->
</html>
