<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" type="text/css" href="/css/Battleship.css">
  <title>Battleship Home</title>
</head>


<body class="home">
  <img src="/images/Battleship_logo_crop.png" alt="logo" class="center" width="900" height="500">
  <a href="/gameboard"><img src="/images/start_button (2).jpg" alt="start" class ="center" style="width: 200px; height: 100px;"></a>
</body>
</html>
